{% load static %} {% load widget_tweaks %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'style-edit.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/6b20b1c14d.js" crossorigin="anonymous"></script>
    <title>Add Member</title>
  </head>
  <body>
    <div class='container'>
      <header class="header">
        <a href="/">
          <i class="fas fa-chevron-circle-left back-btn"></i>
        </a>
        <div class="header-flex-padding">
          <h2>Add a team member </h2>
          <span> Add info, location and role </span>
        </div>
      </header>
      <form action="" method="POST"> {% csrf_token %} <section class="member-info"> {% for field in form %} <div class="info-line">
            {{ field|add_class:'type'}}
          </div>
          <label style="color:white" for="{{ field.id_for_label }}">{{ field.label }}</label> {% if field.errors %} <div class="text-justify"> {% for error in field.errors %} <small style="color:red;">{{ error }}</small> {% endfor %} </div> {% endif %} {% endfor %}
        </section>
        <section class="button-container">
          <input class="button-save" type="submit" value="Submit">
        </section>
      </form>
    </div>
  </body>
</html>